<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/blog.css">

  </head>
  <body>
  <%- include("../includes/navigation") %>
      <main class="container">
        <% if(error.length>0){ %>
          <div class="error-container">
            <p class="error-msg">
              <%= error %>
            </p>
          </div>
          <%} %>

        <div class="add-blog_container">
          <p class="primary-heading">Update Post</p>


          <form action="/blog/<%=blogData._id %>/edit?_method=PUT" method="POST" class="add-post_form">

            <label for="title"><b class="txt-medium">Title</b></label>
            <input type="text" placeholder="Post Title" name="title" value="<%= blogData.title %>" required>

            <label for="body"><b class="txt-medium">Content (Use Markdown format)</b></label>
            <textarea name="description" cols="50" rows="10" required><%= blogData.description %></textarea>

            <input type="submit" value="Edit" class="submit-btn">
          </form>
        </div>
      </main>
    </body>

    </html>